@media only screen and (max-width: 699px) {
    .content {
      padding: 13vh 7vw;
      height: 950px;
    }
  
    .content__text {
      padding: 3vh 5vw;
    }
  
    .footer {
      display: flex;
      justify-content: space-around;
    }
  
    .contact__table {
      padding-top: 10vh;
      width: 50vw;
    }
    
    .table__row {
      width: 50vw;
    }
    
    .table__cell {
      display: inline-block;
      width: 25vw;
    }
    
    .input--name, .input--mail {
      width: 25vw;
    }
    
    .input--text {
      width: 50vw;
      height: 80px;
    }
  }
  
  @media only screen and (min-width: 700px) and (max-width: 999px) {
    .content {
      padding: 10vh 7vw;
      height: 550px;
    }
  
    .content__text {
      padding: 3vh 10vw;
    }
  
    .footer {
      display: flex;
      justify-content: space-around;
    }
  
    .contact__table {
      padding-top: 10vh;
      padding-left: 5vw;
      width: 600px;
    }
    
    .table__row {
      width: 600px;
    }
    
    .table__cell {
      display: inline-block;
      width: 300px;
    }
    
    .input--name, .input--mail {
      width: 300px;
    }
    
    .input--text {
      width: 600px;
      height: 80px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .content {
      display: flex;
      padding: 15vh 5vw;
      height: 400px;
    }
  
    .content__text {
      padding: 2vh 2vw;
    }
  
    .contact__table {
      padding-top: 10vh;
      padding-left: 5vw;
      width: 600px;
    }
    
    .table__row {
      width: 600px;
    }
    
    .table__cell {
      display: inline-block;
      width: 300px;
    }
    
    .input--name, .input--mail {
      width: 300px;
    }
    
    .input--text {
      width: 600px;
      height: 80px;
    }
  }

  .parallax {
    background-image: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url("../img/6.jpg");
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-repeat: repeat, repeat;
    background-size: cover, cover;
    background-attachment: scroll;
    height: 100vh;
    z-index: -1;
  }