@media only screen and (max-width: 369px) {
    .content {
      padding: 15vh 7vw;
      height: 200vh;
    }
  
    .content__text {
      padding: 3vh 5vw;
    }
  }

  @media only screen and (min-width: 370px) and (max-width: 499px) {
    .content {
      padding: 15vh 7vw;
      height: 120vh;
    }
  
    .content__text {
      padding: 3vh 5vw;
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 999px) {
    .content {
      padding: 10vh 7vw;
      height: 100vh;
    }
  
    .content__text {
      padding: 3vh 10vw;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .content {
      display: flex;
      padding: 15vh 5vw;
      height: 400px;
    }
  
    .content__text {
      padding: 2vh 2vw;
    }
  }

.parallax {
    background-image: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url("../img/parallax.jpg");
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-repeat: repeat, repeat;
    background-size: cover, cover;
    background-attachment: scroll;
    height: 100vh;
    z-index: -1;
  }

.footer__caption {
  padding-top: 50px;
  text-align: center;
  font-size: 2em;
}

.form__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-around;
  font-size: 1.5em;
}

.footer {
  height: 250px;
}